.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    color: #fff;

    h1 {
        position: relative;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        background: rgba(0,0,0,0.2);
        padding: 2rem;
        border-radius: 20px 0;
    
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
        }
        &::before {
            left: 0;
            border-bottom: 6px solid #000;
        }

        &::after {
            right: 0;
            border-top: 6px solid #000;
        }
    }
}

