 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


 @import 'hero';
 @import 'header';
 @import 'media';
 @import 'animations';

 *, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Roboto', sans-serif;
 }


//  .container {
//      width: 80%;
//      margin: 2rem auto;

//      p {
//          margin: 1rem 0;
//      }
//  }

 .slider {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100vh;
     background: linear-gradient(to left, rgb(245, 194, 93), rgb(250, 242, 225));
     z-index: -1;
 }

 section {
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     justify-content: center;

 }

 .hero1 {
     height: 50%;
     width: 100%;
     position: relative;
 } 

 .hero1 img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .headline {
     position: absolute;
     top: 70%;
     left: 5%;
     font-size: 100px;
     transform: translate(-20%, -70%);
     color: white;
     z-index: 2;
     text-align: center;
     padding: 2rem;
     border-radius: 20px 0;

 }
 .hero1::after {
     content: '';
     background:black;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0;
 }