* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #444;
    position: fixed;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  .container1 {
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url("/assets/images/backgroundgif.gif");
    background-attachment: fixed;
    background-size: cover;
    color:white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .container1 h1{
        /* padding:100px; */
        color: white;
        font-size: 100px;
        /* background-color: white; */
  }


  .aboutContainer{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/2440024/pexels-photo-2440024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;

}
  
  .container {
      display: flex;
      width: 100%;
      height: 70vh;
      /* padding-top: 20px; */
  }
  .container-title {
      color:white;
      text-align:center;
      height: 150px;
      padding-top: 50px;
  }
  .container-title h1 {
    padding-top: 50px;
  }
  .left {
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding-top: 50px;
  }
  .left img {
      width: 300px;
      /* border-radius: 50%; */

      height: 300px;

  }

  .flex {
      display: flex;
  }

  .justify-content-center {
      justify-content: center;
  }
  .align-items-center {
      align-items: center;
  }
  

  .right {
    /* padding-top: 50px; */
    width: 60%;
    height: 60%;
    background-color: rgba(61, 92, 92, 0.4);
    margin-top: 50px;
    margin-right: 50px;
    
  }
  .right p {
      padding: 30px;
      color: white;
      letter-spacing: 2px;
  }

  .skillsContainer {
      background-image: url('https://images.pexels.com/photos/2915997/pexels-photo-2915997.jpeg?cs=srgb&dl=pexels-francesco-ungaro-2915997.jpg&fm=jpg');
      width: 100%;
      height: 100vh;
      background-size: cover;
      display: flex;
  }

  .skills-title {
      margin-top: 40px;
      height: 100%;
      width: 10%;
      /* background-color: blue; */
      padding: 30px;
  }

  .skills-title h1 {
      font-size: 100px;
      line-height: 90%;
      color: white;
  }

  .recreational {
      margin-top: 20px;
      width: 100%;
      height: 50%;
      /* background-color: blue; */
  }

  .recreational img {
      width: 180px;
      heighT: 180px;
      border-radius: 50%;
      padding: 20px;
  }

  .technical {
      width: 100%;
      height: 50%;
      /* background-color: red; */
  }

  .skills {
      width: 90%;
      height: 100%;
      padding: 30px;
  }

  .technical img {
    width: 180px; 
    height: 180px;
    padding: 20px;
  }

  .projects {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/2835562/pexels-photo-2835562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  /* .projects img {
    width: 35%;
    padding: 25px;

  } */

  .projects-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .projects-container a {
    display: flex;
    justify-content: center;
  }

  .projects-container img {
    width: 450px;
    height: 230px;
    padding: 15px;
  }

  .contacts {
    width: 100%;
    height: 30vh;
    background-color: #383838;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .container {
        background-image: url('/assets/images/background1.jpg');
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }